<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row" style="margin-top: 0px;border-top:0px;">
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-white">
                        <div class="inner">
                                <p>总文章数</p>
                            <h3 th:text="${articleCount}">65</h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-list-alt bg-white"></i>
                            </div>
                            <a th:href="@{/admin/articles}" class="small-box-footer text-dark">查看所有<i
                                    class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-white">
                            <div class="inner">
                                <p>收到评论数</p>

                                <h3 th:text="${commentCount}">65</h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-comments bg-white"></i>
                            </div>
                            <a th:href="@{/admin/comments}" class="small-box-footer text-dark">查看所有<i
                                    class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-white">
                            <div class="inner">
                                <p>分类数量</p>

                                <h3 th:text="${categoryCount}">65</h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-bookmark bg-white"></i>
                            </div>
                            <a th:href="@{/admin/categories}" class="small-box-footer text-dark">查看所有<i
                                    class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-white">
                            <div class="inner">
                                <p>标签总量</p>

                                <h3 th:text="${tagCount}">65</h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-tags bg-white"></i>
                            </div>
                            <a th:href="@{/admin/tags}" class="small-box-footer text-dark">查看所有<i
                                    class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-5 col-6" style="margin-top: 15px">
                        <!-- small box -->
                        <div class="small-box bg-white">
                            <div class="inner">
                                <p>最新评论</p>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>评论者</th>
                                        <th>评论内容</th>
                                        <th>评论时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="comment : ${commentList}">
                                        <td th:text="${comment.commentAuthorName}">1</td>
                                        <td th:text="${comment.commentContent}">1</td>
                                        <td th:text="${#dates.format(comment.commentCreateTime, 'yyyy-MM-dd HH:mm')}">1</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-6" style="margin-top: 15px">
                        <!-- small box -->
                        <div class="small-box bg-white">
                            <div class="inner">
                                <p>最新文章</p>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>标题</th>
                                        <th>分类</th>
                                        <th>发布类型</th>
                                        <th>更新时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="article : ${articleList}">
                                        <td th:text="${article.articleTitle}">1</td>
                                        <td th:text="${article.articleCategory.categoryName}">1</td>
                                        <td th:text="${article.articleStatus}">1</td>
<!--                                        <td th:text="${article.articleStatus} == 1 ? #{发布} : #{草稿}">1</td>-->
                                        <td th:text="${#dates.format(article.articleUpdateTime, 'yyyy-MM-dd HH:mm')}">1</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
</body>
</html>
