<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar-fragment(path)" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/admin/index}" class="brand-link">
        <img th:src="@{/admin/dist/img/zxy-me.png}" alt="ssm-cluster Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light" th:text="${session.loginUser}"></span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
<!--                <li class="nav-header">Dashboard</li>-->
                <li class="nav-item">
                    <a th:href="@{/admin/index}" th:class="${path}=='index'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            主页
                        </p>
                    </a>
                </li>
                <li class="nav-header">博客</li>
                <li class="nav-item">
                    <a th:href="@{/admin/articles/edit}" th:class="${path}=='edit'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa fa-pencil-square-o"></i>
                        <p>
                            写博客
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/articles}" th:class="${path}=='articles'?'nav-link active':'nav-link'">
                        <i class="fa fa-list-alt nav-icon" aria-hidden="true"></i>
                        <p>
                            博客
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/categories}" th:class="${path}=='categories'?'nav-link active':'nav-link'">
                        <i class="fa fa-bookmark nav-icon" aria-hidden="true"></i>
                        <p>
                            分类
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/tags}" th:class="${path}=='tags'?'nav-link active':'nav-link'">
                        <i class="fa fa-tags nav-icon" aria-hidden="true"></i>
                        <p>
                            标签
                        </p>
                    </a>
                </li>
                <li class="nav-header">评论</li>
                <li class="nav-item">
                    <a th:href="@{/admin/comments}" th:class="${path}=='comments'?'nav-link active':'nav-link'">
                        <i class="fa fa-comments nav-icon" aria-hidden="true"></i>
                        <p>
                            评论
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/replies}" th:class="${path}=='replies'?'nav-link active':'nav-link'">
                        <i class="fa fa-user nav-icon" aria-hidden="true"></i>
                        <p>
                            回复
                        </p>
                    </a>
                </li>
                <li class="nav-header">用户</li>
                <li class="nav-item">
                    <a th:href="@{/admin/configurations}"
                       th:class="${path}=='configurations'?'nav-link active':'nav-link'">
                        <i class="fa fa-wrench nav-icon"></i>
                        <p>系统配置</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/profile}"
                       th:class="${path}=='profile'?'nav-link active':'nav-link'">
                        <i class="fa fa-user-secret nav-icon"></i>
                        <p>修改密码</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/log}"
                       th:class="${path}=='log'?'nav-link active':'nav-link'">
                        <i class="fa fa-user-secret nav-icon"></i>
                        <p>管理日志</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/logout}" class="nav-link">
                        <i class="fa fa-sign-out nav-icon"></i>
                        <p>安全退出</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
</html>